/* line 1, reset.less */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 7, reset.less */
body {
  background-color: #f5f5f5;
  line-height: 1.5;
}
/* line 16, reset.less */
* {
  box-sizing: border-box;
}
/* line 21, reset.less */
.fix-flt:after {
  content: '';
  display: table;
  clear: both;
}
/* line 1, simulate.less */
.select-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
/* line 12, simulate.less */
.worker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 17, simulate.less */
.worker-list:after {
  content: '';
  display: table;
  clear: both;
}
/* line 23, simulate.less */
.worker-item {
  float: left;
  margin: 1em 1em 1em 1em;
  height: 86px;
  text-align: center;
  border: 1px solid #ddd;
}
/* line 31, simulate.less */
.worker-item .worker-avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #91BDD8;
}
/* line 37, simulate.less */
.worker-item .worker-name {
  display: inline-block;
  margin: 0.5em 0 0 0;
  padding: 0 0.5em;
  line-height: 1.2;
  border-radius: 5px;
}
/* line 46, simulate.less */
.worker-item.selected .worker-avatar {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.125);
}
/* line 49, simulate.less */
.worker-item.selected .worker-name {
  border-radius: 0.5em;
  color: #fff;
  background-color: #3892B0;
}
/* line 56, simulate.less */
.name {
  margin: 5px 0 0 0;
  text-align: center;
}
